<strong>Hello {{ organizer }}!</strong>
<p>There's been a new subscription in your meetup <i>{{ meetup }}</i>, below you can check the subscriber data:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
